<%= render 'layouts/errors', obj:@user %>
<%= form_with(model: @user, local: true) do |f|%>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <%= f.text_field :username, class:'form-control', placeholder:'Your Username'%>
    </div>
    <div class="form-group">
      <label for="exampleemail">Email</label>
      <%= f.email_field :email, class:'form-control',
      placeholder:'Your email address'%>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Password</label>
      <%= f.password_field :password, class:'form-control', placeholder:'Your Password'%>
    </div>
    <% if @user.id %>
      <%= f.submit "Update Account", class:"btn btn-info" %>
    <% else %>
      <%= f.submit "Sign up", class:"btn btn-info" %>
    <% end %>
  </form>
<% end %>
