<%= link_to 'Create a user', new_user_path, class:"btn  btn-lg",
id:"create_button"%>
<div class="page">
  <%= will_paginate %>
</div>
<% @users.each do |art| %>
  <div class="container cardcon-index" >
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-header">
            <%= link_to art.username.capitalize, user_path(art) %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= art.email %></h5>
              <%= link_to 'Show', user_path(art), class:"btn btn-info" %>
              <% if logged_in? &&  (current_user == art || current_user.admin?) %>
                <%= link_to 'Edit', edit_user_path(art), class:"btn btn-primary" %>
                <%= link_to 'Delete',user_path(art), method: :delete,
                    data: {confirm: "Are you sure?"},  class:"btn btn-danger" %>
              <% end %>
            </div>
          <div class="card-footer text-muted">
          <p>  <small><%= pluralize(art.article.count, "Article") if art.article %></small></p>
            <%= time_ago_in_words(art.updated_at)%> ago, last updated:
            <%= time_ago_in_words(art.updated_at)%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="page">
  <%= will_paginate %>
</div>
