<!DOCTYPE html>
<html>
  <head>
    <title>TrainingBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
      <div class="container cont_general">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <%= render 'layouts/footer'%>
        <!--<%= debug(params) if Rails.env.development? %>-->
      </div>
  </body>
</html>
